# Cache e compilados
__pycache__/
*.py[codz]
*$py.class

# Logs
*.log
logs/

# Dados Gerados 
data/

# Ambiente virtual
.venv/
env/
venv/
ENV/

# Variáveis sensíveis
.env
.env.*
config.ini
secrets.yml

# IDE / Editor
.vscode/
.idea/
.spyderproject

# Arquivos de Sistema Operacional 
.DS_Store
Thumbs.db